NEXT_PUBLIC_SUPABASE_URL=https://xcoprefxmmhefqppdius.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_wjb_gOe3uww1JmjTREhZqw_PDvKseRL
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhjb3ByZWZ4bW1oZWZxcHBkaXVzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDUwMzcxNywiZXhwIjoyMTAwMDc5NzE3fQ.0QUZM0XeIiq26gdVIWH4VKTzorH04zSxASYKRxGdXTc
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Semaphore SMS OTP (forgot password)
# https://semaphore.co — Sender Name must be approved in your Semaphore account
SEMAPHORE_API_KEY=d3465f1e8af583051c5af99cb35be96b
SEMAPHORE_SENDER_NAME=CKCMSYS
